@import "_variables.scss";

@font-face {
  font-family: RedHatItalic;
  src: url(../assets/fonts/RedHatText-Italic-VariableFont_wght.ttf);
}
@font-face {
  font-family: RedHat;
  src: url(../assets/fonts/RedHatText-VariableFont_wght.ttf);
}
@font-face {
  font-family: RedHatBold;
  src: url(../assets/fonts/static/RedHatText-Bold.ttf);
}
@font-face {
  font-family: RedHatRegular;
  src: url(../assets/fonts/static/RedHatText-Regular.ttf);
}
@font-face {
  font-family: RedHatSemiBold;
  src: url(../assets/fonts/static/RedHatText-SemiBold.ttf);
}

* {
  margin: 0;
  padding: 0;
}
body {
  background-color: $rose-50;
  margin-block: $spacing1100;
  margin-inline: $spacing500;
  animation: tranitionIn 1s;
}
h1 {
  width: min-content;
}
h2 {
  color: $red;
}

.text-preset-1 {
  font-family: RedHatBold;
  font-size: 56px;
  line-height: 120%;
  letter-spacing: 0px;
}
.text-preset-2 {
  font-family: RedHatBold;
  font-size: 24px;
  line-height: 125%;
  letter-spacing: 0px;
}
.text-preset-3 {
  font-family: RedHatSemiBold;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0px;
}
.text-preset-4 {
  font-family: RedHatRegular;
  font-size: 14px;
  line-height: 150%;
  letter-spacing: 0px;
}
.text-preset-4-bold {
  font-family: RedHatBold;
  font-size: 14px;
  line-height: 150%;
  letter-spacing: 0px;
}
.text-preset-5 {
  font-family: RedHatSemiBold;
  font-size: 14px;
  line-height: 150%;
  letter-spacing: 0px;
}
#main-page {
  max-width: 1306px;

  margin-left: auto;
  margin-right: auto;
}
.page {
  width: max-content;
  height: 100%;
}
.product-list {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  color: $rose-900;
  float: left;
  margin-right: $spacing400;
  max-width: 800px;
}
.product {
  margin-top: $spacing400;
  margin-bottom: $spacing300;
}
.product:nth-of-type(2),
.product:nth-of-type(5),
.product:nth-of-type(8) {
  margin-inline: $spacing300;
}
.product-image {
  height: 240px;
  border-radius: 8px;
}
.category {
  color: $rose-500;
  margin-top: $spacing200;
}
.name {
  color: $rose-900;
}
.price {
  color: $red;
}
.imgBtn-container button {
  width: 160px;
  height: 44px;
  border: 1px $rose-400 solid;
  border-radius: 160px;
  position: relative;
  bottom: 25px;
  left: 50px;
}
.btn-clicked {
  background-color: $red;
  position: relative;
  bottom: 25px;
  left: 50px;
  border-radius: 160px;
  color: $white;
}

.imgBtn-container button:hover {
  cursor: pointer;
}
.imgBtn-container .btn-clicked:hover {
  cursor: default;
}
.add-to-card {
  position: relative;
  bottom: 2px;
  left: 2px;
}

.imgBtn-container {
  width: 250px;
  height: 262px;
}

.flex-button {
  display: flex;
  justify-content: center;
  align-items: center;
  border: $white 1px solid;
  border-radius: 50px;
  width: 20px;
  height: 20px;
}
.decrement0,
.decrement1,
.decrement2,
.decrement3,
.decrement4,
.decrement5,
.decrement6,
.decrement7,
.decrement8 {
  position: relative;
  top: 10px;
  left: 15px;
}
.decrement0:hover,
.decrement1:hover,
.decrement2:hover,
.decrement3:hover,
.decrement4:hover,
.decrement5:hover,
.decrement6:hover,
.decrement7:hover,
.decrement8:hover {
  background-color: $white;
  cursor: pointer;
}

.increment0,
.increment1,
.increment2,
.increment3,
.increment4,
.increment5,
.increment6,
.increment7,
.increment8 {
  position: relative;
  bottom: 33px;
  left: 120px;
}
.increment0:hover,
.increment1:hover,
.increment2:hover,
.increment3:hover,
.increment4:hover,
.increment5:hover,
.increment6:hover,
.increment7:hover,
.increment8:hover {
  background-color: $white;
  cursor: pointer;
}

.unit0,
.unit1,
.unit2,
.unit3,
.unit4,
.unit5,
.unit6,
.unit7,
.unit8 {
  position: relative;
  bottom: 11px;
}
.svg-filter {
  border-radius: 50px;
  padding: 6px;
}
.svg-filter:hover {
  filter: brightness(0) saturate(100%) invert(23%) sepia(99%) saturate(1681%) hue-rotate(356deg) brightness(99%) contrast(94%);
}
#cart {
  background-color: $white;
  width: 384px;
  padding: $spacing300;
  float: right;
  border-radius: $spacing150;
  position: relative;
  bottom: 50px;
  animation: tranitionInCart 1.5s;
}
.your-cart {
  margin-bottom: $spacing300;
}
.info-add {
  color: $rose-500;
}
.empty-img {
  margin-bottom: $spacing200;
}
.empty-cart {
  text-align: center;
  padding-inline: $spacing200;
}
.neutral-info {
  display: flex;
  justify-content: center;
  margin: auto;
  width: 100%;
  height: 50px;
  background-color: $rose-50;
  margin-block: $spacing300;
  border-radius: $spacing100;
  .carbon-img {
    width: 20px;
  }
  .carbon-info {
    text-align: center;
    margin-top: auto;
    margin-bottom: auto;
    color: $rose-900;
    margin-left: $spacing100;
  }
}
.confirm-button-container {
  text-align: center;
  .confirm-button {
    color: $white;
    background-color: $red;
    width: 100%;
    height: 53px;
    border: 0px;
    border-radius: 100px;
  }

  .confirm-button:hover {
    cursor: pointer;
    background-color: darken($color: $red, $amount: 15%);
    color: $white;
  }
}
.order-total-price-container {
  height: 30px;
  .order-total {
    color: $rose-900;
    display: inline;
    position: relative;
    top: 5px;
    float: left;
  }
  .order-price {
    color: $rose-900;
    display: inline;
    float: right;
    text-align: right;
  }
}
.order-confirmed {
  background-color: $white;
  animation: tranitionConfirm 0.5s;
  width: 592px;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: $spacing500;
  border-radius: 12px;
  margin-top: 15rem;

  .confirm-container {
    .confirm-img-container {
      .confirm-img {
        width: 48px;
        margin-bottom: $spacing300;
      }
    }
    .information {
      clear: both;
      .confirm-header {
        font-size: 2rem;
        width: auto;
      }
      .enjoy-para {
        width: auto;
        color: $rose-500;
        margin-bottom: $spacing300;
      }
    }
  }
  .product-and-total {
    padding: $spacing300;
    background-color: $rose-50;
    border-radius: 8px;
    .confirm-product-list {
      margin-bottom: $spacing300;
    }
    .confirm-total {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      padding-top: $spacing300;
      padding-bottom: $spacing300;
      .confirm-order-total {
        display: inline;
      }
      .confirm-total-price {
        display: inline;
        float: right;
      }
    }
  }
  .black-screen {
    width: 1920px;
    height: 1080px;
  }
  .new-order-button-container {
    .new-order-button {
      color: $white;
      background-color: $red;
      width: 100%;
      height: 53px;
      border: 0px;
      border-radius: 100px;
      margin-top: $spacing400;
    }
    .new-order-button:hover {
      background-color: darken($color: $red, $amount: 15%);
      color: $white;
    }
  }
}
.confirm-product {
  margin-block: $spacing200;
}

.confirm-img {
  clear: both;
  width: 60px;
  height: 60px;
  margin-right: $spacing200;
  float: left;
  border-radius: 4px;
}
.confirm-product-list {
  display: flex;
  flex-direction: column;
}
.confirm-div {
  display: inline;
}
.confirm-name {
  color: $rose-900;
  position: relative;
  top: 6px;
}
.confirm-quantity0,
.confirm-quantity1,
.confirm-quantity2,
.confirm-quantity3,
.confirm-quantity4,
.confirm-quantity5,
.confirm-quantity6,
.confirm-quantity7,
.confirm-quantity8 {
  display: inline;
  color: $red;
  margin-right: $spacing100;
}

.confirm-solo-price {
  display: inline;
  color: $rose-500;
}
.confirm-quantity0,
.confirm-quantity1,
.confirm-quantity2,
.confirm-quantity3,
.confirm-quantity4,
.confirm-quantity5,
.confirm-quantity6,
.confirm-quantity7,
.confirm-quantity8,
.confirm-solo-price {
  position: relative;
  top: 14px;
}
.confirm-total0,
.confirm-total1,
.confirm-total2,
.confirm-total3,
.confirm-total4,
.confirm-total5,
.confirm-total6,
.confirm-total7,
.confirm-total8 {
  display: inline;
  float: right;
  color: $rose-900;
  position: relative;
  bottom: 22px;
}
#footer {
  clear: both;
  position: relative;
  top: 30px;
}
.empty-display {
  display: none;
}
.delete-img-container {
  border: 1px $rose-400 solid;
  width: 18px;
  height: 18px;
  border-radius: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  float: right;
  position: relative;
  top: 15px;
  .delete.img {
    filter: brightness(0) saturate(100%) invert(69%) sepia(9%) saturate(843%) hue-rotate(319deg) brightness(82%) contrast(84%);
  }
}
.delete-img-container:hover {
  cursor: pointer;
  filter: brightness(0);
}
.full-cart {
  h3 {
    color: $rose-900;
    font-family: RedHatBold;
    margin-bottom: $spacing100;
    width: max-content;

    float: left;
  }
  .quantity-and-price {
    margin-bottom: $spacing200;
    clear: both;
    text-align: left;
  }
  .quantity {
    color: $red;
    display: inline;
    margin-right: 12px;
    width: 21px;
  }
  .solo-price {
    color: $rose-500;
    display: inline;
    margin-inline: $spacing100;
  }
  .sum-price {
    color: $rose-500;
    display: inline;
  }
  hr {
    border: 1px $rose-100 solid;
    margin-bottom: $spacing150;
  }
}

@media only screen and (max-width: 1435px) {
  #cart {
    float: left;
    text-align: center;
    width: 762px;
    margin-top: $spacing400;
    margin: auto;
    margin-top: $spacing500;
  }
  #main-page {
    max-width: 830px;
  }

  .product:nth-of-type(2),
  .product:nth-of-type(5),
  .product:nth-of-type(8) {
    margin-inline: $spacing300;
  }
}
@media only screen and (max-width: 940px) {
  #cart {
    width: 500px;
  }

  .product:nth-of-type(1),
  .product:nth-of-type(3),
  .product:nth-of-type(5),
  .product:nth-of-type(7),
  .product:nth-of-type(9) {
    margin-right: $spacing300;
    margin-left: 0;
  }
  .product:nth-of-type(8),
  .product:nth-of-type(2) {
    margin-left: 0;
    margin-right: 0;
  }
  #main-page {
    max-width: 556px;
  }
}
@media only screen and (max-width: 656px) {
  .product:nth-of-type(1) {
    margin: 0;
  }
  #main-page {
    max-width: 274px;
    margin: auto;
  }
  #cart {
    width: 200px;
  }
  .product-list {
    margin: 0;
  }
  body {
    background-color: $rose-50;
    margin-inline: $spacing300;
  }
  .carbon-info {
    font-size: 10px;
    .carbon-neutral-span {
      font-size: 10px;
    }
  }
  .order-confirmed {
    width: 80%;
  }
}
@keyframes tranitionIn {
  from {
    opacity: 0;
    transform: translateY(2000px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes tranitionInCart {
  from {
    opacity: 0;
    transform: translateX(400px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes tranitionConfirm {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
