@import url("https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,600&family=Manrope&display=swap");
body {
  margin: 0;
  padding: 0;
  font-family: "Manrope";
  font-size: 18px;
}

p {
  line-height: 32px;
  font-size: 1rem;
}

h1 {
  font-family: "Fraunces";
  font-weight: 100;
  font-size: 5rem;
  color: rgb(255, 255, 255);
  margin: 50px;
  margin-bottom: 30px;
  margin-inline: auto;
  width: 600px;
}

h2 {
  font-family: "Fraunces";
  font-weight: 600;
  font-size: 56px;
  line-height: 64px;
}

h3 {
  font-family: "Fraunces";
  font-weight: 600;
  font-size: 32px;
  line-height: 40px;
}

header {
  background-color: rgb(36, 5, 62);
  height: 600px;
  width: 100%;
  position: relative;
  background-image: url("../assets/images/bg-pattern-1.svg"), url("../assets/images/bg-pattern-2.svg");
  background-repeat: no-repeat, no-repeat;
  background-position: top 38% left -11%, right -3% top 72%;
}
header .logo-light {
  margin-left: 10%;
  margin-top: 40px;
}
header .apply-button {
  float: right;
  margin-right: 10%;
  margin-top: 40px;
  border: 0;
  background-color: transparent;
  color: rgb(255, 255, 255);
  -webkit-text-decoration: rgb(68, 255, 161) underline 2px;
          text-decoration: rgb(68, 255, 161) underline 2px;
  text-underline-offset: 8px;
  font-size: 1rem;
}
header .apply-button:hover {
  cursor: pointer;
  color: rgb(68, 255, 161);
  transition: all 200ms;
}
header .img-phone {
  display: block;
  width: 715px;
  position: absolute;
  top: 76%;
  left: 31%;
  z-index: 5;
}
header .learn-class {
  text-align: center;
  margin-inline: auto;
}
header .learn-class .learn-button {
  color: rgb(36, 5, 62);
  background-color: rgb(68, 255, 161);
  border: 0;
}
header .learn-class h1 .underline {
  -webkit-text-decoration: rgb(68, 255, 161) underline 2px;
          text-decoration: rgb(68, 255, 161) underline 2px;
  text-underline-offset: 7px;
}
header .learn-class .learn-button {
  color: rgb(36, 5, 62);
  background-color: rgb(68, 255, 161);
  border: 0;
  width: 9.5rem;
  font-size: 16px;
  font-weight: 700;
  height: 3.5rem;
}
header .learn-class .learn-button:hover {
  background-color: transparent;
  border: 2px solid rgb(68, 255, 161);
  color: rgb(68, 255, 161);
  cursor: pointer;
  transition: background-color 100ms ease-in-out;
}

#list-section {
  background-color: rgb(253, 250, 255);
  position: relative;
  z-index: 2;
}
#list-section .container {
  display: flex;
}
#list-section .container .list-flex {
  display: flex;
  justify-content: center;
  text-align: center;
  padding-top: 22rem;
  padding-bottom: 2rem;
  margin: 0rem auto 4rem auto;
  width: 90%;
}
#list-section .container .list-flex .list {
  text-align: center;
  padding: 0 3rem;
}
#list-section .container .list-flex .list p {
  padding-inline: 40px;
  color: rgb(88, 77, 98);
}
#list-section .container .list-flex .list .circle {
  margin-inline: auto;
  border-radius: 50%;
  width: 36px;
  height: 36px;
  padding: 8px;
  font-family: "Fraunces";
  font-size: 28px;
  font-weight: bold;
  border: 1px solid rgb(88, 77, 98);
  color: rgb(36, 5, 62);
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

#founder {
  margin-top: 25rem;
  margin-bottom: 4rem;
}

.founder-flex-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.founder-img {
  width: 477px;
  height: 477px;
  margin-right: -7rem;
  margin-top: -20rem;
}

.access-card {
  background-color: #24053e;
  color: white;
  width: 730px;
  height: 413px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.access-card-content {
  padding: 0rem 4rem;
}
.access-card-content h2 {
  font-size: 56px;
  padding-bottom: 2rem;
}
.access-card-content p {
  margin-bottom: 2rem;
}

.access-button {
  cursor: pointer;
  display: block;
  font-size: 18px;
  font-weight: bold;
  background-color: #44ffa1;
  color: #24053e;
  border: none;
  height: 60px;
  width: 190px;
  transition: all 0.2s ease-in;
}

.access-button:hover {
  background-color: transparent;
  border: 2px solid rgb(68, 255, 161);
  color: rgb(68, 255, 161);
  cursor: pointer;
  transition: background-color 100ms ease-in-out;
}

.founder-circles {
  position: absolute;
  top: 70%;
  left: 63%;
}

#footer {
  text-align: center;
  margin-bottom: 3rem;
}
#footer .logo-dark {
  margin-bottom: 2em;
}
#footer .flex-icon {
  display: flex;
  justify-content: space-between;
  width: 8rem;
  margin: auto;
}

.wave {
  position: absolute;
  top: 99%;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  z-index: 3;
}
.wave svg {
  position: relative;
  display: block;
  width: calc(276% + 1.3px);
  height: 150px;
}
.wave .shape-fill {
  fill: rgb(36, 5, 62);
}

.wave-second {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  z-index: -4;
}
.wave-second svg {
  position: relative;
  display: block;
  width: calc(276% + 1.3px);
  height: 150px;
}
.wave-second .shape-fill {
  fill: rgb(253, 250, 255);
}

@media screen and (max-width: 1368px) {
  header {
    background-position: top 38% left -15%, right -6% top 72%;
  }
  header .img-phone {
    left: 25%;
  }
}
@media screen and (max-width: 1280px) {
  header {
    height: 550px;
    background-position: top 38% left -18%, right -8% top 72%;
  }
  header .img-phone {
    width: 650px;
    top: 82%;
    left: 26%;
  }
}
@media screen and (max-width: 1180px) {
  header {
    height: 550px;
    background-position: top 38% left -24%, right -10% top 72%;
  }
  header .img-phone {
    top: 82%;
    left: 21%;
  }
}
@media screen and (max-width: 1024px) {
  header {
    background-position: top 38% left -32%, right -13% top 72%;
  }
  header .img-phone {
    top: 82%;
    left: 17%;
  }
  #founder .founder-circles {
    position: absolute;
    top: 80%;
    left: 63%;
    z-index: 3;
  }
  #founder .access-card {
    width: 730px;
    height: 480px;
  }
  #list-section {
    background-color: rgb(253, 250, 255);
    position: relative;
  }
  #list-section .container {
    display: block;
  }
  #list-section .container .list-flex {
    display: block;
    padding-top: 20rem;
  }
  #list-section .container .list-flex .list {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: left;
    padding: 0;
    margin-inline: 10%;
  }
  #list-section .container .list-flex .list .circle {
    margin-inline: auto;
    border-radius: 50%;
    width: 36px;
    height: 36px;
    padding: 8px;
    padding-inline: 16px;
    font-family: "Fraunces";
    font-size: 28px;
    font-weight: bold;
    border: 1px solid rgb(88, 77, 98);
    color: rgb(36, 5, 62);
  }
  #list-section .container .list-flex .list .feature-text {
    margin-left: 2rem;
  }
  #list-section .container .list-flex .list h3 {
    margin-bottom: 1rem;
  }
  #list-section .container .list-flex .list p {
    padding: 0;
    color: rgb(88, 77, 98);
  }
}
@media screen and (max-width: 932px) {
  header {
    height: 500px;
    background-position: top 38% left -46%, right -19% top 72%;
  }
  header .img-phone {
    width: 590px;
    top: 90%;
    left: 20%;
  }
  #founder .founder-circles {
    position: absolute;
    top: 83%;
    left: 53%;
    z-index: 3;
  }
  #founder .access-card {
    width: 730px;
    height: 600px;
  }
}
@media screen and (max-width: 820px) {
  header {
    background-position: top 38% left -52%, right -21% top 72%;
  }
  header .img-phone {
    width: 550px;
    top: 90%;
    left: 17%;
  }
  #founder .founder-circles {
    position: absolute;
    width: 150px;
    top: 85%;
    left: 60%;
    z-index: 3;
  }
  #founder h2 {
    font-size: 3rem;
    margin-top: 1rem;
  }
  #founder .access-card {
    width: 730px;
    height: 550px;
  }
}
@media screen and (max-width: 740px) {
  header {
    background-position: top 38% left -65%, right -23% top 72%;
  }
  header .img-phone {
    width: 550px;
    top: 90%;
    left: 14%;
  }
  #founder {
    margin-top: 20rem;
    margin-bottom: 4rem;
  }
  #founder .founder-flex-container {
    flex-direction: column;
  }
  #founder .founder-circles {
    display: none;
  }
  #founder .founder-img {
    width: 100%;
    height: auto;
    margin-right: 0rem;
    margin-top: -10rem;
  }
  #founder .access-card {
    width: 100%;
    height: 400px;
    display: block;
    text-align: center;
    margin-top: -6rem;
  }
  #founder .access-card-content {
    padding: 0rem 2rem;
  }
  #list-section .container .list-flex .list .feature-text {
    margin: auto;
  }
  .access-card-content h2 {
    font-size: 48px;
    margin-top: 3rem;
  }
  .access-card-content p {
    margin-bottom: 2rem;
  }
  .founder-btn {
    margin: 0 auto;
  }
  .access-button {
    margin: auto;
  }
}
@media screen and (max-width: 653px) {
  header {
    height: 450px;
    background-image: none;
  }
  header h1 {
    font-size: 3.5rem;
    width: 500px;
    margin-inline: auto;
  }
  #list-section {
    background-color: rgb(253, 250, 255);
    position: relative;
  }
  #list-section .container {
    display: block;
  }
  #list-section .container .list-flex {
    display: block;
    padding-top: 17rem;
    padding-inline: 0;
  }
  #list-section .container .list-flex .list {
    display: block;
    text-align: center;
    padding: 0;
    margin: 0;
  }
  #list-section .container .list-flex .list .circle {
    padding-inline: 8px;
  }
  #list-section .container .list-flex .list .feature-text {
    margin-left: 2rem;
    margin-bottom: 2rem;
  }
  #list-section .container .list-flex .list h3 {
    margin-bottom: 1rem;
  }
  #list-section .container .list-flex .list p {
    padding: 0px;
    color: rgb(88, 77, 98);
  }
  #founder {
    margin-top: 27rem;
  }
  #founder .founder-flex-container {
    flex-direction: column;
  }
  #founder .access-card {
    display: block;
    width: 100%;
    margin-left: 0;
    height: 30rem;
  }
  #founder .founder-img {
    width: 100%;
    height: auto;
    margin-right: 0;
    margin-top: -20rem;
    margin-bottom: 50px;
  }
  #founder h2 {
    padding-top: 2rem;
  }
}
@media screen and (max-width: 607px) {
  header {
    height: 400px;
  }
  header h1 {
    font-size: 2rem;
    width: 300px;
  }
  header .img-phone {
    width: 400px;
    top: 84%;
    left: 19%;
  }
  .wave {
    top: 99%;
  }
  .wave svg {
    height: 100px;
  }
}
@media screen and (max-width: 500px) {
  header {
    height: 340px;
  }
  header h1 {
    width: 300px;
  }
  header .img-phone {
    width: 300px;
    top: 94%;
    left: 20%;
  }
  #list-section .container .list-flex {
    padding-top: 15rem;
  }
}
@media screen and (max-width: 444px) {
  #founder .access-card {
    height: 35rem;
  }
  #founder .access-button {
    margin: auto;
  }
}
@media screen and (max-width: 414px) {
  header {
    height: 360px;
  }
  header h1 {
    width: 300px;
  }
  header .img-phone {
    width: 260px;
    top: 96%;
    left: 15%;
  }
  #list-section .container .list-flex .list .feature-text {
    margin: auto;
  }
  #founder .access-card {
    height: 35rem;
  }
  #founder .access-button {
    margin: auto;
  }
}
@media screen and (max-width: 310px) {
  header {
    height: 340px;
  }
  header h1 {
    width: 250px;
  }
  header .img-phone {
    width: 250px;
    top: 94%;
    left: 10%;
  }
  header .logo-light {
    width: 20%;
  }
  #list-section .container .list-flex {
    padding-top: 13rem;
  }
  header .learn-class .learn-button {
    width: 60%;
    height: 3rem;
  }
  header h1 {
    font-size: 1.5rem;
    width: 140px;
  }
  header .img-phone {
    width: 80%;
  }
  #founder .access-card {
    height: 45rem;
  }
  #founder .access-card .access-card-content .access-button {
    width: 80%;
    height: 50%;
  }
  #founder .access-card .access-card-content .access-button {
    height: 3rem;
  }
}/*# sourceMappingURL=style.css.map */