@font-face {
  font-family: RedHatItalic;
  src: url(../assets/fonts/RedHatText-Italic-VariableFont_wght.ttf);
}
@font-face {
  font-family: RedHat;
  src: url(../assets/fonts/RedHatText-VariableFont_wght.ttf);
}
@font-face {
  font-family: RedHatBold;
  src: url(../assets/fonts/static/RedHatText-Bold.ttf);
}
@font-face {
  font-family: RedHatRegular;
  src: url(../assets/fonts/static/RedHatText-Regular.ttf);
}
@font-face {
  font-family: RedHatSemiBold;
  src: url(../assets/fonts/static/RedHatText-SemiBold.ttf);
}
* {
  margin: 0;
  padding: 0;
}

body {
  background-color: rgb(252, 248, 246);
  margin-block: 88px;
  margin-inline: 40px;
  -webkit-animation: tranitionIn 1s;
          animation: tranitionIn 1s;
}

h1 {
  width: -webkit-min-content;
  width: -moz-min-content;
  width: min-content;
}

h2 {
  color: rgb(199, 59, 15);
}

.text-preset-1 {
  font-family: RedHatBold;
  font-size: 56px;
  line-height: 120%;
  letter-spacing: 0px;
}

.text-preset-2 {
  font-family: RedHatBold;
  font-size: 24px;
  line-height: 125%;
  letter-spacing: 0px;
}

.text-preset-3 {
  font-family: RedHatSemiBold;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0px;
}

.text-preset-4 {
  font-family: RedHatRegular;
  font-size: 14px;
  line-height: 150%;
  letter-spacing: 0px;
}

.text-preset-4-bold {
  font-family: RedHatBold;
  font-size: 14px;
  line-height: 150%;
  letter-spacing: 0px;
}

.text-preset-5 {
  font-family: RedHatSemiBold;
  font-size: 14px;
  line-height: 150%;
  letter-spacing: 0px;
}

#main-page {
  max-width: 1306px;
  margin-left: auto;
  margin-right: auto;
}

.page {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  height: 100%;
}

.product-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  color: rgb(38, 15, 8);
  float: left;
  margin-right: 32px;
  max-width: 800px;
}

.product {
  margin-top: 32px;
  margin-bottom: 24px;
}

.product:nth-of-type(2),
.product:nth-of-type(5),
.product:nth-of-type(8) {
  margin-inline: 24px;
}

.product-image {
  height: 240px;
  border-radius: 8px;
  -webkit-box-shadow: 0px 2px 20px -10px black;
          box-shadow: 0px 2px 20px -10px black;
}

.product-image-border {
  border: 3px rgb(199, 59, 15) solid;
}

.category {
  color: rgb(135, 99, 90);
  margin-top: 16px;
}

.name {
  color: rgb(38, 15, 8);
}

.price {
  color: rgb(199, 59, 15);
}

.imgBtn-container button {
  width: 160px;
  height: 44px;
  border: 1px rgb(173, 138, 133) solid;
  border-radius: 160px;
  position: relative;
  bottom: 25px;
  left: 50px;
}

.btn-clicked {
  background-color: rgb(199, 59, 15);
  position: relative;
  bottom: 25px;
  left: 50px;
  border-radius: 160px;
  color: rgb(255, 255, 255);
}

.imgBtn-container button:hover {
  cursor: pointer;
}

.imgBtn-container .btn-clicked:hover {
  cursor: default;
}

.add-to-card {
  position: relative;
  bottom: 2px;
  left: 2px;
}

.imgBtn-container {
  width: 250px;
  height: 262px;
}

.flex-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: rgb(255, 255, 255) 1px solid;
  border-radius: 50px;
  width: 20px;
  height: 20px;
}

.decrement0,
.decrement1,
.decrement2,
.decrement3,
.decrement4,
.decrement5,
.decrement6,
.decrement7,
.decrement8 {
  position: relative;
  top: 10px;
  left: 15px;
}

.decrement0:hover,
.decrement1:hover,
.decrement2:hover,
.decrement3:hover,
.decrement4:hover,
.decrement5:hover,
.decrement6:hover,
.decrement7:hover,
.decrement8:hover {
  background-color: rgb(255, 255, 255);
  cursor: pointer;
}

.increment0,
.increment1,
.increment2,
.increment3,
.increment4,
.increment5,
.increment6,
.increment7,
.increment8 {
  position: relative;
  bottom: 33px;
  left: 120px;
}

.increment0:hover,
.increment1:hover,
.increment2:hover,
.increment3:hover,
.increment4:hover,
.increment5:hover,
.increment6:hover,
.increment7:hover,
.increment8:hover {
  background-color: rgb(255, 255, 255);
  cursor: pointer;
}

.unit0,
.unit1,
.unit2,
.unit3,
.unit4,
.unit5,
.unit6,
.unit7,
.unit8 {
  position: relative;
  bottom: 11px;
}

.svg-filter {
  border-radius: 50px;
  padding: 6px;
}

.svg-filter:hover {
  -webkit-filter: brightness(0) saturate(100%) invert(23%) sepia(99%) saturate(1681%) hue-rotate(356deg) brightness(99%) contrast(94%);
          filter: brightness(0) saturate(100%) invert(23%) sepia(99%) saturate(1681%) hue-rotate(356deg) brightness(99%) contrast(94%);
}

#cart {
  background-color: rgb(255, 255, 255);
  width: 384px;
  padding: 24px;
  float: right;
  border-radius: 12px;
  position: relative;
  bottom: 50px;
  -webkit-animation: tranitionInCart 1.5s;
          animation: tranitionInCart 1.5s;
}

.your-cart {
  margin-bottom: 24px;
}

.info-add {
  color: rgb(135, 99, 90);
}

.empty-img {
  margin-bottom: 16px;
}

.empty-cart {
  text-align: center;
  padding-inline: 16px;
}

.neutral-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: auto;
  width: 100%;
  height: 50px;
  background-color: rgb(252, 248, 246);
  margin-block: 24px;
  border-radius: 8px;
}
.neutral-info .carbon-img {
  width: 20px;
}
.neutral-info .carbon-info {
  text-align: center;
  margin-top: auto;
  margin-bottom: auto;
  color: rgb(38, 15, 8);
  margin-left: 8px;
}

.confirm-button-container {
  text-align: center;
}
.confirm-button-container .confirm-button {
  color: rgb(255, 255, 255);
  background-color: rgb(199, 59, 15);
  width: 100%;
  height: 53px;
  border: 0px;
  border-radius: 100px;
}
.confirm-button-container .confirm-button:hover {
  cursor: pointer;
  background-color: #80260a;
  color: rgb(255, 255, 255);
}

.order-total-price-container {
  height: 30px;
}
.order-total-price-container .order-total {
  color: rgb(38, 15, 8);
  display: inline;
  position: relative;
  top: 5px;
  float: left;
}
.order-total-price-container .order-price {
  color: rgb(38, 15, 8);
  display: inline;
  float: right;
  text-align: right;
}

.order-confirmed {
  background-color: rgb(255, 255, 255);
  -webkit-animation: tranitionConfirm 0.5s;
          animation: tranitionConfirm 0.5s;
  width: 592px;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  padding: 40px;
  border-radius: 12px;
  margin-top: 15rem;
}
.order-confirmed .confirm-container .confirm-img-container .confirm-img {
  width: 48px;
  margin-bottom: 24px;
}
.order-confirmed .confirm-container .information {
  clear: both;
}
.order-confirmed .confirm-container .information .confirm-header {
  font-size: 2rem;
  width: auto;
}
.order-confirmed .confirm-container .information .enjoy-para {
  width: auto;
  color: rgb(135, 99, 90);
  margin-bottom: 24px;
}
.order-confirmed .confirm-prod0,
.order-confirmed .confirm-prod1,
.order-confirmed .confirm-prod2,
.order-confirmed .confirm-prod3,
.order-confirmed .confirm-prod4,
.order-confirmed .confirm-prod5,
.order-confirmed .confirm-prod6,
.order-confirmed .confirm-prod7,
.order-confirmed .confirm-prod8 {
  margin-bottom: 24px;
}
.order-confirmed .product-and-total {
  padding: 24px;
  background-color: rgb(252, 248, 246);
  border-radius: 8px;
}
.order-confirmed .product-and-total .confirm-product-list {
  margin-bottom: 24px;
}
.order-confirmed .product-and-total .confirm-total {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.order-confirmed .product-and-total .confirm-total .confirm-order-total {
  display: inline;
}
.order-confirmed .product-and-total .confirm-total .confirm-total-price {
  display: inline;
  float: right;
}
.order-confirmed .black-screen {
  width: 1920px;
  height: 1080px;
}
.order-confirmed .new-order-button-container .new-order-button {
  color: rgb(255, 255, 255);
  background-color: rgb(199, 59, 15);
  width: 100%;
  height: 53px;
  border: 0px;
  border-radius: 100px;
  margin-top: 32px;
}
.order-confirmed .new-order-button-container .new-order-button:hover {
  background-color: #80260a;
  color: rgb(255, 255, 255);
}

.confirm-img {
  clear: both;
  width: 60px;
  height: 60px;
  margin-right: 16px;
  float: left;
  border-radius: 4px;
}

.confirm-product-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.confirm-div {
  display: inline;
}

.confirm-name {
  color: rgb(38, 15, 8);
  position: relative;
  top: 6px;
}

.confirm-quantity0,
.confirm-quantity1,
.confirm-quantity2,
.confirm-quantity3,
.confirm-quantity4,
.confirm-quantity5,
.confirm-quantity6,
.confirm-quantity7,
.confirm-quantity8 {
  display: inline;
  color: rgb(199, 59, 15);
  margin-right: 8px;
}

.confirm-solo-price {
  display: inline;
  color: rgb(135, 99, 90);
}

.confirm-quantity0,
.confirm-quantity1,
.confirm-quantity2,
.confirm-quantity3,
.confirm-quantity4,
.confirm-quantity5,
.confirm-quantity6,
.confirm-quantity7,
.confirm-quantity8,
.confirm-solo-price {
  position: relative;
  top: 14px;
}

.confirm-total0,
.confirm-total1,
.confirm-total2,
.confirm-total3,
.confirm-total4,
.confirm-total5,
.confirm-total6,
.confirm-total7,
.confirm-total8 {
  display: inline;
  float: right;
  color: rgb(38, 15, 8);
  position: relative;
  bottom: 22px;
}

#footer {
  clear: both;
  position: relative;
  top: 30px;
}

.empty-display {
  display: none;
}

.delete-img-container {
  border: 1px rgb(173, 138, 133) solid;
  width: 18px;
  height: 18px;
  border-radius: 18px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  float: right;
  position: relative;
  top: 15px;
}
.delete-img-container .delete.img {
  -webkit-filter: brightness(0) saturate(100%) invert(69%) sepia(9%) saturate(843%) hue-rotate(319deg) brightness(82%) contrast(84%);
          filter: brightness(0) saturate(100%) invert(69%) sepia(9%) saturate(843%) hue-rotate(319deg) brightness(82%) contrast(84%);
}

.delete-img-container:hover {
  cursor: pointer;
  -webkit-filter: brightness(0);
          filter: brightness(0);
}

.full-cart h3 {
  color: rgb(38, 15, 8);
  font-family: RedHatBold;
  margin-bottom: 8px;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  float: left;
}
.full-cart .quantity-and-price {
  margin-bottom: 16px;
  clear: both;
  text-align: left;
}
.full-cart .quantity {
  color: rgb(199, 59, 15);
  display: inline;
  margin-right: 12px;
  width: 21px;
}
.full-cart .solo-price {
  color: rgb(135, 99, 90);
  display: inline;
  margin-inline: 8px;
}
.full-cart .sum-price {
  color: rgb(135, 99, 90);
  display: inline;
}
.full-cart hr {
  border: 1px rgb(245, 238, 236) solid;
  margin-bottom: 12px;
  width: 95%;
}

.hr-line-confirm0,
.hr-line-confirm1,
.hr-line-confirm2,
.hr-line-confirm3,
.hr-line-confirm4,
.hr-line-confirm5,
.hr-line-confirm6,
.hr-line-confirm7,
.hr-line-confirm8 {
  width: 100%;
  border: 1px rgb(245, 238, 236) solid;
  margin-bottom: 12px;
  position: relative;
  top: 15px;
}

.attribution {
  font-size: 11px;
  text-align: center;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 20px;
  color: rgb(255, 255, 255);
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

.attribution {
  font-size: 11px;
  text-align: center;
  position: absolute;
  width: 100%;
  top: 100px;
  color: black;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

@media only screen and (max-width: 1435px) {
  #cart {
    float: left;
    text-align: center;
    width: 762px;
    margin-top: 32px;
    margin: auto;
    margin-top: 40px;
  }
  #main-page {
    max-width: 830px;
  }
  .product:nth-of-type(2),
  .product:nth-of-type(5),
  .product:nth-of-type(8) {
    margin-inline: 24px;
  }
}
@media only screen and (max-width: 940px) {
  #cart {
    width: 500px;
  }
  .product:nth-of-type(1),
  .product:nth-of-type(3),
  .product:nth-of-type(5),
  .product:nth-of-type(7),
  .product:nth-of-type(9) {
    margin-right: 24px;
    margin-left: 0;
  }
  .product:nth-of-type(8),
  .product:nth-of-type(2) {
    margin-left: 0;
    margin-right: 0;
  }
  #main-page {
    max-width: 556px;
  }
}
@media only screen and (max-width: 656px) {
  .product:nth-of-type(1) {
    margin: 0;
  }
  #main-page {
    max-width: 274px;
    margin: auto;
  }
  #cart {
    width: 200px;
  }
  .product-list {
    margin: 0;
  }
  body {
    background-color: rgb(252, 248, 246);
    margin-inline: 24px;
  }
  .carbon-info {
    font-size: 10px;
  }
  .carbon-info .carbon-neutral-span {
    font-size: 10px;
  }
  .order-confirmed {
    width: 80%;
    top: 400%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
}
@-webkit-keyframes tranitionIn {
  from {
    opacity: 0;
    -webkit-transform: translateY(2000px);
            transform: translateY(2000px);
  }
  to {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}
@keyframes tranitionIn {
  from {
    opacity: 0;
    -webkit-transform: translateY(2000px);
            transform: translateY(2000px);
  }
  to {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}
@-webkit-keyframes tranitionInCart {
  from {
    opacity: 0;
    -webkit-transform: translateX(400px);
            transform: translateX(400px);
  }
  to {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}
@keyframes tranitionInCart {
  from {
    opacity: 0;
    -webkit-transform: translateX(400px);
            transform: translateX(400px);
  }
  to {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}
@-webkit-keyframes tranitionConfirm {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes tranitionConfirm {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}/*# sourceMappingURL=style.css.map */